<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxw.dao.EnginesMapper">
  <resultMap id="BaseResultMap" type="com.wxw.domain.Engines">
    <result column="ENGINE" jdbcType="VARCHAR" property="engine" />
    <result column="SUPPORT" jdbcType="VARCHAR" property="support" />
    <result column="COMMENT" jdbcType="VARCHAR" property="comment" />
    <result column="TRANSACTIONS" jdbcType="VARCHAR" property="transactions" />
    <result column="XA" jdbcType="VARCHAR" property="xa" />
    <result column="SAVEPOINTS" jdbcType="VARCHAR" property="savepoints" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ENGINE, SUPPORT, COMMENT, TRANSACTIONS, XA, SAVEPOINTS
  </sql>
  <select id="selectByExample" parameterType="com.wxw.domain.EnginesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ENGINES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.wxw.domain.EnginesExample">
    delete from ENGINES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxw.domain.Engines">
    insert into ENGINES (ENGINE, SUPPORT, COMMENT, 
      TRANSACTIONS, XA, SAVEPOINTS
      )
    values (#{engine,jdbcType=VARCHAR}, #{support,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{transactions,jdbcType=VARCHAR}, #{xa,jdbcType=VARCHAR}, #{savepoints,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxw.domain.Engines">
    insert into ENGINES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="engine != null">
        ENGINE,
      </if>
      <if test="support != null">
        SUPPORT,
      </if>
      <if test="comment != null">
        COMMENT,
      </if>
      <if test="transactions != null">
        TRANSACTIONS,
      </if>
      <if test="xa != null">
        XA,
      </if>
      <if test="savepoints != null">
        SAVEPOINTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="support != null">
        #{support,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="transactions != null">
        #{transactions,jdbcType=VARCHAR},
      </if>
      <if test="xa != null">
        #{xa,jdbcType=VARCHAR},
      </if>
      <if test="savepoints != null">
        #{savepoints,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxw.domain.EnginesExample" resultType="java.lang.Long">
    select count(*) from ENGINES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ENGINES
    <set>
      <if test="record.engine != null">
        ENGINE = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.support != null">
        SUPPORT = #{record.support,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        COMMENT = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.transactions != null">
        TRANSACTIONS = #{record.transactions,jdbcType=VARCHAR},
      </if>
      <if test="record.xa != null">
        XA = #{record.xa,jdbcType=VARCHAR},
      </if>
      <if test="record.savepoints != null">
        SAVEPOINTS = #{record.savepoints,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ENGINES
    set ENGINE = #{record.engine,jdbcType=VARCHAR},
      SUPPORT = #{record.support,jdbcType=VARCHAR},
      COMMENT = #{record.comment,jdbcType=VARCHAR},
      TRANSACTIONS = #{record.transactions,jdbcType=VARCHAR},
      XA = #{record.xa,jdbcType=VARCHAR},
      SAVEPOINTS = #{record.savepoints,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>